@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pooler</h1>
    <p>Pooler is a very simple application designed to help keep track of pool games.</p>
</div>
